.team {
    display: flex;
    justify-content: space-between;
    margin-bottom: 85px;
}

.member{
    position: relative;
    margin-bottom: 80px;

    &:hover {
        .member__team-img {
            transform: translate(-10px, -10px);

            &::after {
                opacity: 0.9;
            }
        }
        
        .hover-effect{
            opacity: 1;

            &__social-icon {
                transform: translate(-10px, -10px);
            }
        }
    }

    &__blue-bottom {
        width: 380px;
        height: 470px;
        background-color: #95e1d3;
        margin-bottom: 30px;
    }

    &__team-img {
        position: absolute;
        top: 0px;
        transition: all .2s linear;

        &::after {
            content: "";
            position: absolute;
            height: 470px;
            width: 380px;
            display: block;
            background: linear-gradient(90deg, rgb(252,227,138) 0%, rgb(243,129,129) 100%);
            z-index: 2;
            opacity: 0;
            top: 0px;
            transition: all .2s linear;
        }
    }

    &__name {
        text-align: center;
        p:first-of-type {
            font-size: 17px;
            font-family: "Montserrat";
            color: rgb(51, 51, 51);
            text-transform: uppercase;
            margin-bottom: 16px;
        }

        p:last-of-type {
            font-size: 15px;
            font-family: "Roboto";
            color: rgb(153, 153, 153);
            font-style: italic; 
        }
    }
}

.hover-effect {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -125%);
    z-index: 5;
    opacity: 0;
    transition: all .2s linear;

    &__social-icon {
        background-color: #fce38a;
        width: 55px;
        height: 55px;
        position: relative;
        margin-right: 1px;
        transition: all .2s linear;

        &:hover{
            background-color: #f38181;
            .hover-effect__member-svg {
                fill: #fff;
            }
        }
    }

    &__member-svg {
        display: block;
        width: 50%;
        height: 50%;
        position: absolute;
        top: 50%;
        left: 50%;                         
        transform: translate(-50%, -50%);
        fill: #f38181;
    }
}


