body {
    margin: 0;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

.container {
    width: 100%;
    max-width: 940px;
    margin: 0 auto;
}
input[type="submit"] {
    border: none;
}

h1, h2, h3, p {
    margin: 0;
}
ul {
    margin: 0; padding: 0;
}

@font-face {
    font-family: Montserat;
    src: url(../fonts/montserrat-v14-latin_cyrillic-300.woff) format("woff");
    src: url(../fonts/montserrat-v14-latin_cyrillic-300.woff2) format("woff2");
}

@font-face {
    font-family: Source;
    src: url(../fonts/source-serif-pro-v7-latin-regular.woff) format("woff");
    src: url(../fonts/source-serif-pro-v7-latin-regular.woff2) format("woff2");
}
/* ====HEADER++++ */

.header {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    align-items: center;
}

.main_menu {
    display: flex;
    list-style: none;
    max-width: 485px;
    width: 100%;
}

.menu_items {
    margin-right: 40px;
}

.menu_items:last-child {
    margin-right: 0px;
}


.menu_items_a {
    text-decoration: none;
    text-transform: uppercase;
    font-family: Montserat;
    font-weight: bold;
    font-size: 14px;
    color: #222222;
    transition: all .2s linear;
}


.menu_items_a:hover {
    color: #fed136;
}


/* =====first_section====== */

.title {
    text-align: center;
    margin: 0 auto;
    text-transform: uppercase;
    font-family: Montserat;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 20px;
}

.top_section {
    padding-top: 110px;
}

.description_title {
    text-align: center;
    margin: 0 auto;
    font-family: Source;
    font-style: italic;
    font-size: 16px;
    color: #777777;
}

.services {
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
    margin-bottom: 110px;
}

.service_items {
    text-align: center;
    margin-right: 55px;
}

.service_items > img {
    margin-bottom: 15px;
}

.service_items > h3 {
    margin-bottom: 15px;
}

.service_items:last-child {
    margin-right: 0px;
}

.services_title {
    font-family: Montserat;
    font-size: 18px;
    color: #343434;
    font-weight: bold;
}
/* +++++SECOND SECTION===== */

.bottom_section {
    background-image: url(../img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 110px;
    padding-bottom: 115px;
}

.second {
    color: #ffffff;
}

.services_description {
    font-family: Source;
    font-size: 14px;
    color: #777777;
}

/* ++++++FORM-______ */

input {
    font-family: Montserat;
    text-transform: uppercase; 
    font-weight: bold;
    padding-left: 15px;
    color: #bbbbbb;
}

input[type="text"] {
    width: 455px;
    height: 55px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(204, 204, 204);
    border-radius: 2px;
    background-color: rgb(255, 255, 255);
    font-family: Montserat;
    text-transform: uppercase; 
    font-weight: bold;
}


input[type="email"] {
    width: 455px;
    height: 55px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(204, 204, 204);
    border-radius: 2px;
    background-color: rgb(255, 255, 255);
}

form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 75px;
}

textarea {
    border-style: solid;
    border-width: 1px;
    border-color: rgb(204, 204, 204);
    border-radius: 2px;
    background-color: rgb(255, 255, 255);
    resize: none;
    font-family: Montserat;
    text-transform: uppercase; 
    font-weight: bold;
    padding-left: 15px;
    color: #bbbbbb;
    padding-top: 15px;
}

.first_flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

input[type="submit"] {
    margin-left: auto;
    margin-right: auto;
    font-size: 18px;
    font-family: "Montserat";
    font-weight: bold;
    color: #ffffff;
    background-color: #fed136;
    padding: 25px 50px;
    border-radius: 3px;
    margin-top: 30px;
}

  
  

/* +++VALIDATION____++ */


input[type="text"]:valid {
    outline:  1px greenyellow solid;
}

input[type="text"]:invalid {
    outline: 1px red solid;
}

textarea:valid {
    outline:  1px greenyellow solid;
}

textarea:invalid {
    outline: 1px red solid;
}

input[type="email"]:valid {
    outline:  1px greenyellow solid;
}

input[type="email"]:invalid {
    outline: 1px red solid;
}