@media (min-width: 1032px){
    .container {
        width: 940px;
    }

    .title_section {
        background-image: url(../img/descktop_background.jpg);
    }

    .partner {
        width: 207px;
    }

    .partner_section {
        padding-bottom: 70px;
    }

    .registration_link {
        font-size: 20px;
    }

    .partners {
        display: flex;
        justify-content: space-around;
    }

    .img_partner > img:last-of-type {
        position: absolute;
        bottom: 60px;
        right: 45px;
    }

    .registration {
        margin-bottom: 160px;
    }

    .offer {
        margin-bottom: 30px;
    }

}