@media (min-width: 1032px){
    .container {
        width: 940px;
    }

    .header {
        background-image: url(../img/descktop_background.jpg);
    }


    .partner {
        width: 207px;
    }

    .partner:nth-child(1) {
        margin-bottom: 0px;
    }

    

    .registration_link {
        font-size: 20px;
    }

    .partners {
        display: flex;
        justify-content: space-around;
    }

    .img_partner > img:last-of-type {
        position: absolute;
        bottom: 60px;
        right: 45px;
    }

    .registration {
        margin-bottom: 0px;
    }

    .contains_first_button {
        margin-bottom: 70px;
    }

    .offer {
        margin-bottom: 30px;
    }

    .second_title {
        max-width: 500px;
        margin-left: auto;
        margin-right: auto;
    }

}