body {
    margin: 0;
    font-family: Roboto;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

.container {
    width: 100%;
    max-width: 1110px;
    margin: 0 auto;
}

h1, h2, h3, p {
    margin: 0;
}


/* =============HEADER==============
_________________________________ */
.header {
    padding: 40px 0;
}

.header_inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav {
    font-size: 14px;
    font-family: "Open Sans";
    font-weight: bold;
    text-transform: uppercase;
    display: flex;
}
.nav_link {
    text-decoration: none;
    color: #0f0101;
    margin-left: 35px;
}
.nav_link:first-child {
    margin: 0;
}

.nav_link:hover {
    color: #29c0a3;
}


/* ====SLIDER=======
_________________________________ */

.slider {
    height: 600px;
    background: url("/img/slider_easy.jpg") center no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-direction: column;  
}
.all_slider_content {
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.slider_content {
    font-family: "Roboto";
    color: #ffffff;
    text-transform: uppercase;
}

.slider_title {
    font-size: 60px;
    font-weight: bold;
}

.discrable_title {
    font-size: 24px;
    font-weight: normal;
}

.slider_button {
    padding: 30px 40px;
    background-color: rgba(78, 198, 171, 0.651) ;
}
  

/* ========SECTION TWO===========
_____________________________ */
.items {
    background-color: #e9f0fd ;
}
.bottom_title {
    text-align: center;
    font-size: 48px;
    font-family: "Roboto";
    color: rgb(81, 81, 81);
    text-transform: uppercase;
}

.bottom_title::after {
    display: block;
    content: "";
    background-color: rgb(26, 188, 156);
    width: 164px;
    height: 7px;
    margin-left: auto;
    margin-right: auto;
}

.cards {
    display: flex;
    justify-content: space-between;
}
