body {
    margin: 0;
    font-family: Roboto;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

.container {
    width: 100%;
    max-width: 1110px;
    margin: 0 auto;
}

h1, h2, h3, p {
    margin: 0;
}


/* =============HEADER==============
_________________________________ */
.header {
    padding: 40px 0 33px;
}

.header_inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav {
    font-size: 14px;
    font-family: "Open Sans";
    font-weight: bold;
    text-transform: uppercase;
    display: flex;
}
.nav_link {
    text-decoration: none;
    color: #0f0101;
    margin-left: 35px;
}
.nav_link:first-child {
    margin: 0;
}

.nav_link:hover {
    color: #29c0a3;
}


/* ====SLIDER=======
_________________________________ */

.slider {
    height: 600px;
    background: url(". ./img/slider_easy.jpg") center no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-direction: column;  
}
.all_slider_content {
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.slider_content {
    font-family: "Roboto";
    color: #ffffff;
    text-transform: uppercase;
}

.slider_title {
    font-size: 60px;
    font-weight: bold;
}

.discrable_title {
    font-size: 24px;
    font-weight: normal;
}

.slider_button {
    padding: 30px 40px;
    background-color: rgba(78, 198, 171, 0.651) ;
}
  

/* ========SECTION TWO===========
_____________________________ */
.items {
    background-color: #e9f0fd;
    padding: 100px 0px;
}
.bottom_title {
    text-align: center;
    font-size: 48px;
    font-family: "Roboto";
    color: rgb(81, 81, 81);
    text-transform: uppercase;
    padding-bottom: 80px;
}

.bottom_title::after {
    display: block;
    content: "";
    background-color: rgb(26, 188, 156);
    width: 164px;
    height: 7px;
    margin-left: auto;
    margin-right: auto;
}

.cards {
    display: flex;
    justify-content: space-between;
}



.card_item {
    position: relative;
    width: 255px;
    height: 322px;
}

.img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.name_price {
    display: flex;
    justify-content: space-between;
    background: linear-gradient(to right, #323232 80%, #8c8c8c 20%);
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 2;
    font-family: "Roboto";
    text-transform: uppercase;
    color: #ffffff;
}
.price {
    padding: 10px 9px 10px 0px;
    font-size: 18px;
}

.name {
    padding: 10px 0px 10px 15px;
    font-size: 18px;
}

.hover_effect {
    position: absolute;
    width: 235px;
    height: 261px;
    left: 10px;
    top: 10px;
    background-color: rgba(0, 0, 0, 0.55);
    z-index: 2;
    display: flex;
    flex-direction: column;
    opacity: 0;
    justify-content: center;
    transition: opacity .3s linear;
}

.card_item:hover .hover_effect {
    opacity: 1;
}
.card_item:hover .name_price {
    background: linear-gradient(to right, #1abc9c 80%, #7fd9c7 20%);
}
.row_1 {
    display: flex;
    justify-content: center;
    margin-bottom: 7px;
}

.row_1 img:nth-of-type(1) {
    border: 1px solid;
    padding: 12px;
    border-color: #ffffff;
    margin-right: 6px;
}
.row_1 img:nth-of-type(2) {
    border: 1px solid;
    padding: 12px;
    border-color: #ffffff;
    margin-right: 6px;
}
.row_1 img:nth-of-type(3) {
    border: 1px solid;
    padding: 12px;
    border-color: #ffffff;
}

.row_1 img:nth-of-type(1):hover {
    background-color: #1abc9c;
}
.row_1 img:nth-of-type(2):hover {
    background-color: #1abc9c;
}
.row_1 img:nth-of-type(3):hover {
    background-color: #1abc9c;
}


.row_2 {
    display: flex;
    border: 1px solid #ffffff;
    width: 166px;
    height: 50px;
    color: #ffffff;
    justify-content: space-evenly;
    background-color: #323232;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    
}

/* =====FOOTER==========
____________________
   */

.footer {
    background-color: #323232;
    height: 88px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.describe_footer {
    font-size: 16px;
    font-family: "Open Sans";
    color: #fff;

}
span {
    color: #3f9081;
}

  
