
.container {
    width: 1300px;
    margin: 0px auto;
}


.travel {
    margin-right: 314px;
}

.lifestyle {
    margin-left: 313px;
   
}

.photodiary {
    margin-left: 122px;
}

.music {
    margin-left: 103px;
    margin-right: 95px;
}

.nav {
    display: inline-block;
    margin-top: 77px;
    margin-bottom: 104px;
    font-size: 14px;
    font-family: "Playfair Display";
    text-transform: uppercase;
    color: rgb(98, 98, 98);
    
    
    
}

.container-2 {
    width: 901px;
    margin: 0px auto;
}

.a1 {
    width: calc(50%-61px);

    display: inline-block;
}

.first {
    box-sizing: content-box;
    width: 420px;
    margin-right: 57px;
}

.second {
    box-sizing: content-box;
    width: 420px;
}

.a2 {
    width: calc(50%-61px);
    ;

    display: inline-block;

}

.third {
    box-sizing: content-box;
    width: 420px;
    margin-right: 57px;

}

.fourth {
    box-sizing: content-box;
    width: 420px;

}

.a3 {
    width: calc(50%-61px);


    display: inline-block;

}

.fifth {
    box-sizing: content-box;
    width: 420px;
    margin-right: 57px;

}

.sixth {
    box-sizing: content-box;
    width: 420px;
}

.p-under-picture {
    font-size: 14px;
    font-family: "Ubuntu";
    color: rgb(180, 173, 158);
    text-transform: uppercase;

}

.h2 {
    font-size: 30px;
    font-family: "Playfair Display";
    color: rgb(98, 98, 98);

}

.text-content {
    font-size: 14px;
    font-family: "Playfair Display";
    color: rgb(98, 98, 98);

}

button {
    border-width: 1px;
    border-color: rgb(98, 98, 98);
    border-style: solid;
    width: 162px;
    height: 58px;
    margin-left: 373px;
    margin-top: 54px;
    margin-bottom: 70px;

}

.level-2 {
    margin-top: 120px;
}
.level-3 {
    margin-top: 120px;
}

.menu {
    margin-left: 50px;
}

.button {
    font-size: 20px;
    font-family: "Playfair Display";
    color: rgb(98, 98, 98);

}

