.footer {
  background-image: linear-gradient($white-color 71%, $black-color 29%);
  padding-top: 30px;
  padding-bottom: 30px;

  @include tablet-media {
    padding-top: 35px;
    background-image: linear-gradient($white-color 63%, $black-color 63%);
  }

  &__flex {
    @include tablet-media {
      display: flex;
      align-items: center;
      margin-bottom: 70px;
    }
  }

  &__phonewrap {
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
    align-items: center;
    position: relative;

    @include tablet-media {
      margin-bottom: 0px;
    }

    &::after {
      content: '';
      display: none;
      background-color: $text-light-color;
      width: 1px;
      height: 100%;
      position: absolute;
      top: 0;
      right: -40px;

      @include tablet-media {
        display: block;
      }
    }
  }

  &__phonesvg {
    fill: $contrast-color;
    margin-right: 6px;
    margin-top: 3px;
  }

  &__tel {
    font-family: 'Mon-700';
    font-size: 18px;
  }

  &__svg {
    display: block;
    margin-bottom: 20px;

    @include tablet-media {
      margin-left: 0;
      margin-right: 0;
      margin-bottom: 0px;
    }
  }

  &__img {
    display: block;
  }

  &__roofs {
    text-align: center;
    font-family: 'Mon-400';
    font-weight: bold;
    font-size: $text-light-size;
    color: $text-light-color;

    @include tablet-media {
      text-align: left;
    }
  }

  & a {
    display: block;
    margin-right: auto;
    margin-left: auto;

    &:first-of-type {
      order: 2;
      width: 220px;

      @include tablet-media {
        margin-right: 75px;
        margin-left: 0;
      }
    }

    &:nth-of-type(2) {
      order: 3;
      margin-left: auto;
      margin-right: auto;
      width: 40px;

      @include tablet-media {
        margin-left: 0;
      }
    }

    &:last-of-type {
      order: 1;
      margin-bottom: 40px;
      width: 79px;

      @include tablet-media {
        width: 126px;
        margin-right: 75px;
        margin-bottom: 0px;
        margin-left: 0;
      }

      @include desktop-media {
        margin-right: 260px;
      }
    }
  }
}