.guarantee {
  background-image: linear-gradient($white-color 20%, $light-blue 20%);
  padding-top: 50px;

  @include tablet-media {
    background-image: linear-gradient($white-color 20%, $white-color 20%);
  }

  @include desktop-media {
    padding-top: 80px;
  }

  &__title {
    @include title;
    text-align: center;
    margin-bottom: 25px;

    @include desktop-media {
      font-size: 42px;
    }
  }

  &__list {
    padding-top: 20px;
    padding-left: 55px;

    @include tablet-media {
      background-color: $light-blue;
      padding-left: 100px;
      padding-right: 70px;
    }

    @include desktop-media {
      padding-left: 170px;
      padding-right: 200px;
    }
  }

  &__item {
    font-family: 'Mon-400';
    font-size: $text-primary;
    display: inline-flex;
    padding-bottom: 20px;
    font-weight: bold;
    position: relative;

    &:not(:last-child)::before {
      display: inline-block;
      content: '';
      height: 100%;
      border-left: 1px dashed $text-light-color;
      position: absolute;
      top: 15px;
      left: -43px;

      @include desktop-media {
        border-left: 2px dashed $text-light-color;
        left: -36px;
      }
    }

    @include tablet-media {
      font-size: $text-light-size;
    }

    @include desktop-media {
      font-size: 18px;
    }
  }

  &__paragraph {
    &::before {
      content: '';
      display: block;
      position: absolute;
      width: 15px;
      height: 20px;
      background-image: url(../images/svg/noun_Campfire_2425646.svg);
      background-size: cover;
      fill: $contrast-color;
      left: -50px;

      @include desktop-media {
        width: 30px;
        height: 30px;
      }
    }

  }

  &__span {
    color: $contrast-color;
  }
}
