.guarantee {
  background-image: linear-gradient($white-color 20%, $light-blue 20%);
  padding-top: 50px;

  @include tablet-media {
    background-image: linear-gradient($white-color 20%, $white-color 20%);
  }

  @include desktop-media {
    padding-top: 80px;
  }

  &__title {
    @include title;
    text-align: center;
    margin-bottom: 25px;

    @include desktop-media {
      font-size: 42px;
    }
  }

  &__list {
    padding-top: 20px;

    @include tablet-media {
      background-color: $light-blue;
      padding-left: 60px;
      padding-right: 50px;
    }

    @include desktop-media {
      padding-left: 110px;
      padding-right: 200px;
    }
  }

  &__item {
    font-family: 'Mon-400';
    font-size: $text-primary;
    display: inline-flex;
    margin-bottom: 20px;
    font-weight: bold;

    @include tablet-media {
      font-size: $text-light-size;
    }

    @include desktop-media {
      font-size: 18px;
    }

    &::before {
      content: '';
      display: block;
      width: 30px;
      height: 30px;
      flex-shrink: 0;
      margin-right: 20px;
      background-image: url(../images/svg/noun_Campfire_2425646.svg);
      background-size: cover;
      fill: $contrast-color;
    }
  }

  &__span {
    color: $contrast-color;
  }
}
