.choice {
  background-image: linear-gradient($black-color 59%, $white-color 59%);

  @include tablet-media {
    padding-top: 85px;
  }

  @include desktop-media {
    padding-top: 45px;
    background-image: linear-gradient($black-color 100%, $white-color 90%);
  }

  &__hat {
    display: flex;
    position: relative;

    @include tablet-media {
      flex-direction: column-reverse;
      margin-bottom: 20px;
    }
  }

  &__title {
    @include title;
    color: $white-color;
    text-align: left;
    padding-right: 50px;
    margin-bottom: 20px;

    @include tablet-media {
      text-align: center;
      font-size: 26px;
      padding-right: 0;
    }
    @include desktop-media {
      z-index: 1;
      font-size: 42px;
    }
  }

  &__list {
    box-shadow: 4px 6.928px 15.54px 5.46px rgba(29, 29, 27, 0.04);
    position: relative;

    @include tablet-media {
      margin-bottom: 65px;
    }

    @include desktop-media {
      position: relative;
      bottom: 0;
    }
  }

  &__img {
    position: absolute;
    top: -90px;
    right: -20px;

    @include tablet-media {
      position: absolute;
      left: 323px;
      top: -325px;
    }

    @include desktop-media {
      left: -35px;
      top: -230px;
    }
  }
}
