body {
    padding: 0;
    margin: 0;
    /* width: 1647px; */

}

.clearfix:after {
    content: "";
    display: table;
    width: 100%;
    clear: both;
}

div {
    box-sizing: border-box;
}

.container {
    width: 1110px;
    margin: 0 auto;

}

/* HEADER */

.logo {
    margin-top: 38px;
    float: left;

}

nav {
    float: right;
    margin-top: 43px;
}

.menu {
    padding: 0;
    margin: 0;
    display: block;
}

.menu li {
    float: left;
    display: block;
    margin-right: 34px;
}

.menu li a {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    color: #0f0101;   
}

.menu li:last-child {
    margin-right: 0px;
}

/* TO SECTIONS */



  /* FIRST SECTION */
  .items_1 {
      display: inline-block;
      width: 255px;
      height: 322px;
      float: left;
      margin-right: 30px;
      margin-bottom: 30px;
      position: relative;
  }

 

  h2 {
      text-transform: uppercase;
      text-align: center;
    }

.first-section {
    margin-top: 111px;
}

.items_1 p {
    display: inline;
    margin: 0;
}

.items_1:nth-child(5) {
    margin-right: 0px;
}

.items_1:nth-child(9) {
    margin-right: 0px;
}

.items_1 p {
    position: absolute;
    left: 0;
  bottom: 0;
  width: 100%;

}