body {
    padding: 0;
    margin: 0;
    /* width: 1647px; */

}

.clearfix:after {
    content: "";
    display: table;
    width: 100%;
    clear: both;
}

div {
    box-sizing: border-box;
}

.container {
    width: 1110px;
    margin: 0 auto;
}

h1, h2, h3 {
    margin: 0;
}

/* HEADER */

.logo {
    /* margin-top: 38px; */
    float: left;

}

nav {
    float: right;
    /* margin-top: 43px; */
}

.menu {
    padding: 0;
    margin: 0;
    display: block;
}

.menu li {
    float: left;
    display: block;
    margin-right: 34px;
}

.menu li a {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    color: #0f0101;
    font-family: "Open Sans";
}

.menu li:last-child {
    margin-right: 0px;
}

.menu li a:hover {
    color: #1abc9c;
}

.heading {
    margin-top: 43px;
    margin-bottom: 110px;
}

/* TO SECTIONS */



/* FIRST SECTION */
.items_1 {
    display: inline-block;
    width: 255px;
    height: 322px;
    float: left;
    margin-right: 30px;
    margin-bottom: 30px;
    position: relative;
}



h2 {
    text-transform: uppercase;
    text-align: center;
    font-size: 48px;
    font-family: "Roboto";
    color: rgb(81, 81, 81);
    line-height: 0.667;
    font-weight: bold;
}



.first-section {
    
    position: relative;
    margin-bottom: 130px ;
}

.first-section:after {
    display: block;
    background-color: #1abc9c;
    content: "";
    width: 164px;
    height: 7px;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    left: 50%;
    bottom: -32px;
    transform: translateX(-50%);
}

.items_1 p {
    display: block;
    margin: 0;
}

.items_1:nth-child(4) {
    margin-right: 0px;
}

.items_1:nth-child(8) {
    margin-right: 0px;
}

.items_1:nth-child(n+6) {
    margin-bottom: 0px;
}

.items_1 p {
    /* position: absolute; */
    /* left: 0;
    bottom: 0; */
    /* width: 100%; */
    font-size: 18px;
    font-family: "Roboto";
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    line-height: 1.778;
    text-align: left;
    /* background: linear-gradient(to right, #323232 78%, #8c8c8c 22%); */
    text-align: center;
    display: inline-block;
}

.items_1>div {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background: linear-gradient(to right, #323232 78%, #8c8c8c 22%);
}

.span {
    display: inline;
    float: left;
    padding-left: 12px;
}

.span_2 {
    float: right;
    display: inline;
    padding-right: 15px;
    padding-left: 10px;
}
.section_one {
    margin-top: 115px;
    margin-bottom: 100px;
}

/* SECOND SECTION */

.second-section {
}

.section_two {
    margin-top: 110px;
    margin-bottom: 80px;
    display: flex;
}

.items_2 {
    width: 350px;
    /* height: 494px; */
    /* float: left; */
    /* margin-bottom: 100px; */
    box-sizing: content-box;
}

.items_2:nth-child(-n+3) {
    margin-right: 30px;
}

.items_2:last-child {
    /* float: right; */
}

.second-section::after {
    
    position: absolute;
}

.items_2>img {
    margin-bottom: 16px;
}


.items_2>p:first-of-type {
    margin-top: -4px;
    font-size: 18px;
    font-family: "Open Sans";
    color: rgb(85, 82, 82);
    line-height: 1.444;
    position: relative;
    margin-bottom: 50px;
}

.items_2>p:first-of-type::after {
    content: "";
    display: block;
    background-color: rgb(78, 198, 171);
    width: 136px;
    height: 3px;
    margin-top: 15px;
    position: absolute;
   
}

.items_2>p:nth-of-type(2) {
    font-size: 14px;
    font-family: "Open Sans";
    color: rgb(85, 82, 82);
    line-height: 1.857;

}

button {
    border-radius: 3px;
    background-color: rgb(78, 198, 171);
    padding: 13px 40px;
    font-size: 16px;
    font-family: "Open Sans";
    color: rgb(255, 255, 255);
    line-height: 1.625;
    text-align: center;
    border: 0px;
}

/* HOWER */
.items_1:hover>div {
    background: #1abc9c;

}

.items_1:hover p:nth-of-type(2) {
    background: #7fd9c7;

}